/*  .footer-is-light .store-footer .store-footer__inner {
    background: #dfbda0;
}
.bg-gray-50 {
    
    background-color: white;
}
[dir=rtl] salla-slider.photos-slider .swiper {
    padding-right: 0rem !important;
}
  [dir=rtl] .carousel-slider .swiper {
    padding-left: 0rem !important;
}
salla-slider.photos-slider .swiper-slide {
    position: relative;
   margin: 0px !important;
    padding: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0rem;
}
.rounded-md {
    border-radius: 0rem !important;
}
.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    padding: 0px;
}
section:first-of-type.s-block.s-block--photos-slider {
    margin: 0px !important;
}

.lazy__bg.lazy.entered.loaded {
    background-size: contain !important;
    background-repeat: no-repeat;
}
.s-block--features__item a.banner-entry.square-photos.has-overlay.with-hover {
    width: auto !important;
    height: unset !important;
    background: transparent !important;
}
.grid.grid-cols-\[repeat\(2\,minmax\(0\,1fr\)\)\].md\:grid-cols-\[repeat\(3\,minmax\(0\,1fr\)\)\].gap-4.sm\:gap-6.xl\:gap-8 {
    display: flex;
    flex-wrap: wrap;
}
  
.grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 {
    display: flex;
    flex-wrap: wrap;
}

 
.lazy__bg.lazy.entered.loaded {
    background-size: contain;
    background-repeat: no-repeat;
}
 .banner--fixed img {
    background: #faebd700;
}   
 
.grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 a.banner-entry.square-photos {
    width: 31%;
    height: 270px !important;
    background: #f9fafb00;
}
    
 @media (max-width: 480px) { 
         .s-block--features__item {
    width: 45%;
}    
           .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 a.banner-entry.square-photos {
    width: 48%;
     height: 130px !important;
         background: #f9fafb00;
    }
  } 
       
@media (min-width: 481px) and (max-width: 767px) { 
     .s-block--features__item {
    width: 46%;
}
 .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 a.banner-entry.square-photos{
    width: 31%;
    height: 177px !important;
    background: #f9fafb00;
    }
 }

 */ 

